Backup
[
    {
        "id": "8a78fc9bf03685af",
        "type": "tab",
        "label": "Gestion ZIGBEE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4db60bf.7cb8c",
        "type": "tab",
        "label": "AUTOMATISMES MAISON",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "TEST CONNEXION INTERNET",
        "disabled": false,
        "info": ""
    },
    {
        "id": "65ffe8411dc40a28",
        "type": "tab",
        "label": "IHM",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7cc13ada.b6712c",
        "type": "subflow",
        "name": "timerange",
        "info": "Lets through or blocks a payload\nbased on a time range. This can\neither be configured through the\nenviroment variables in the node ui\nor as described below with a message\nthat has an override topic.\nIf in range the msg will be passed\nto the first output and otherwise\nto the second.\nThe start and stop time needs\nto be defined in an hh:mm format.\nThere is also a week array. The week\nstarts on monday so 4 for example is\nThursday. Payload will only be passed\non days that are in the array.\nOut of time range payloads will\nbe redirected to the second output.\nThe schedule can be overriden by injecting\na message with the topic of \"override\"\nthat contains a ```msg.payload``` object with the\nkeys of \"start\",\"stop\",\"days\" like\nthis:\n```\n{\n    \"start\": \"10:00\",\n    \"stop\": \"14:00\",\n    \"days\": [\n        1,\n        2,\n        3,\n        4,\n        5,\n        6,\n        7\n    ]\n}\n```\nStart and stop need to be strings in the hh:mm\nformat and days an array of numbers as\ndescribed above.\nThe override can be deleted by injecting a\nmsg.payload string \"reset\".",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 100,
                "wires": [
                    {
                        "id": "da7f7d3f.da5af"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 730,
                "y": 60,
                "wires": [
                    {
                        "id": "694ce0e1.4bee58",
                        "port": 0
                    }
                ]
            },
            {
                "x": 750,
                "y": 140,
                "wires": [
                    {
                        "id": "694ce0e1.4bee58",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "start",
                "type": "str",
                "value": "00:00",
                "ui": {
                    "icon": "font-awesome/fa-arrow-right",
                    "label": {
                        "en-US": "from hh:mm"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "stop",
                "type": "str",
                "value": "00:00",
                "ui": {
                    "icon": "font-awesome/fa-circle",
                    "label": {
                        "en-US": "until hh:mm"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "days",
                "type": "json",
                "value": "[1,2,3,4,5,6,7]",
                "ui": {
                    "icon": "font-awesome/fa-calendar",
                    "label": {
                        "en-US": "days"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "json"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#C7E9C0",
        "inputLabels": [
            "payload input"
        ],
        "outputLabels": [
            "in time range",
            "out of time range"
        ],
        "icon": "node-red/switch.svg",
        "status": {
            "x": 480,
            "y": 200,
            "wires": [
                {
                    "id": "1bc56c04.ca0a3c",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "e102e7aa.73033",
        "type": "group",
        "z": "f4db60bf.7cb8c",
        "name": "Vérification du bon fonctionnement de l'IPX",
        "style": {
            "label": true
        },
        "nodes": [
            "6b83445f.95ef74",
            "60345379.7335cc",
            "93a6bc32.964338",
            "6a44f6d2.63742",
            "61b330c0.943d4",
            "32fe9461.a31a9c",
            "688d8710.dd2ff8",
            "3443a94b.1d3d2e",
            "62f42068.824698",
            "efce1de91fa4997e",
            "17e782a82a4b9951",
            "c5d80b6f1efa0795"
        ],
        "x": 44,
        "y": 99,
        "w": 1102,
        "h": 302
    },
    {
        "id": "3e85591c6b28eec5",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Vérification qualité de connexion internet - Reset si nécessaire",
        "style": {
            "label": true
        },
        "nodes": [
            "6e3ae73fd6dca1b5",
            "33e459f5b49c6a18",
            "2811ceaac726f243",
            "fa8980c41453d441",
            "8b89075617fd1890",
            "b0fe8155417905e8",
            "99b24abfc303375b",
            "acf7a47b6f6e79f6",
            "e1d7c466b429a061",
            "2d8b2236898a1199",
            "22ac9e4da1fe5ebc",
            "5fb69172.b3471",
            "892f85fd.ddf898",
            "d821318e160c0e62",
            "33de0144ba188644",
            "a56be7fea2f10b19",
            "485a7a75bd474437",
            "9dade99a33b4458d",
            "2cc8d9f2b5261b88",
            "297032eb92ecd6c7"
        ],
        "x": 34,
        "y": 239,
        "w": 1012,
        "h": 442
    },
    {
        "id": "010dbb615bda4d4e",
        "type": "group",
        "z": "8a78fc9bf03685af",
        "name": "Connexion au système Zigbee2Mqtt",
        "style": {
            "label": true
        },
        "nodes": [
            "558f9b7183aac2bc",
            "a4c57c169d5aacf3"
        ],
        "x": 34,
        "y": 19,
        "w": 492,
        "h": 82
    },
    {
        "id": "5f2614821fc98646",
        "type": "group",
        "z": "8a78fc9bf03685af",
        "name": "Gestion de l'éclairage dans la chambre des parents",
        "style": {
            "label": true
        },
        "nodes": [
            "476a22d8152cdc57",
            "2f6110e39eb4ed78"
        ],
        "x": 34,
        "y": 119,
        "w": 712,
        "h": 82
    },
    {
        "id": "88283a1bd84fdbce",
        "type": "group",
        "z": "8a78fc9bf03685af",
        "name": "Gestion de l'éclairage dans l'escalier",
        "style": {
            "label": true
        },
        "nodes": [
            "88825c69e6b4406d",
            "af162e119d899f79",
            "5a300b5c8797c7d0",
            "37b283ee0e20393e",
            "57c87b30ea80eb7d",
            "295508e9a9ce09a4",
            "a85b5f67307b8161",
            "6a1892cf4bad0282",
            "93b147a291c3d018",
            "435674ee8c87c7ab",
            "66425afb1daa7ceb",
            "64948b6192e1a842",
            "dd708280f510e18d",
            "b2402425e85a3343",
            "3e3e85f5c73f6e26",
            "3f38713c68d50bb2"
        ],
        "x": 34,
        "y": 259,
        "w": 1272,
        "h": 282
    },
    {
        "id": "ab3eeb9e267c29b8",
        "type": "group",
        "z": "8a78fc9bf03685af",
        "name": "Gestion extraction air Suzanne",
        "style": {
            "label": true
        },
        "nodes": [
            "a122a79d4494810f",
            "5dac8e61d99847a3",
            "2b7284cce37ba6de",
            "737c6e426a364559",
            "e90ffae1f31572e6",
            "b0470f9c71dffca1",
            "b1e7d727faf9950e",
            "011462622c106d5f",
            "98d5b6f6b6c06c65",
            "cb3c6bbbf342522c",
            "144c1d82ed799493"
        ],
        "x": 34,
        "y": 859,
        "w": 832,
        "h": 342
    },
    {
        "id": "789a50f3d570c165",
        "type": "group",
        "z": "8a78fc9bf03685af",
        "name": "Gestionde l'éclairage du local poubelle",
        "style": {
            "label": true
        },
        "nodes": [
            "66a58e98ab6037f0",
            "89dc8d7d73b0afd3"
        ],
        "x": 34,
        "y": 559,
        "w": 798,
        "h": 288
    },
    {
        "id": "0ba7747e986083a3",
        "type": "group",
        "z": "8a78fc9bf03685af",
        "name": "Alarme en cas de porte de garage ouverte",
        "style": {
            "label": true
        },
        "nodes": [
            "ffb8606e191cb99a",
            "bedf15845d296d13",
            "826f7d5e1fc85642",
            "7de5ae9a9d52000f",
            "209090ef89acf2dc",
            "d5a40fae7544f80f",
            "1a0f490f1de11989",
            "0115839daf416040"
        ],
        "x": 34,
        "y": 1219,
        "w": 852,
        "h": 242
    },
    {
        "id": "fc4d7b3fdd8d7679",
        "type": "group",
        "z": "f4db60bf.7cb8c",
        "name": "Gestion de la VMC depuis l'interface graphique",
        "style": {
            "label": true
        },
        "nodes": [
            "d2078e7f42f83fab",
            "f092e4a5d029bf7b",
            "50394144fc93b9f8",
            "f397b3f6b00f7f22",
            "6afd16dff8838a28",
            "1e50c7ad7ff0d555",
            "df143cacff2c7957",
            "8604f49a62d71f9e",
            "ebe9de659eb140f6",
            "2bbfe52978827116",
            "ca51220c7773961b",
            "023f313706e7a9fa",
            "bb1454896d323f87",
            "ce5f1220964693af",
            "2b4726a6dc8fcca0",
            "25af6e728ace967b",
            "157a01391cd115ec",
            "9d4f0fbfb10d04eb",
            "6c87992a08a06a2b",
            "b6c0fe1f96500599",
            "da008f54901cc831",
            "519ba4bd573e4d7f",
            "86e002b53ef1ea4e",
            "eaac69e4ea61fa96",
            "225715f1fb62950d"
        ],
        "x": 34,
        "y": 439,
        "w": 1352,
        "h": 602
    },
    {
        "id": "89dc8d7d73b0afd3",
        "type": "group",
        "z": "8a78fc9bf03685af",
        "g": "789a50f3d570c165",
        "name": "Gestion Eclairage poubelle",
        "style": {
            "label": true
        },
        "nodes": [
            "967fa7eb7d450c61",
            "2693e72fb25c1949",
            "65501524b171f0fb",
            "32bf6e879c1b2732"
        ],
        "x": 414,
        "y": 639,
        "w": 392,
        "h": 182
    },
    {
        "id": "18c1bbfb6a2451d9",
        "type": "zigbee2mqtt-server",
        "name": "",
        "host": "localhost",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "mqtt_qos": "0",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "0ca1a15e29858943",
        "type": "email-transport",
        "name": "Iot_OVH",
        "host": "ssl0.ovh.net",
        "port": "465",
        "secure": true,
        "authType": "login",
        "proxy": ""
    },
    {
        "id": "439c3a08b11e4e0a",
        "type": "nexmobasic"
    },
    {
        "id": "b59efa9e8f72d15f",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "icon",
        "titleBarStyle": "fixed"
    },
    {
        "id": "58e58d4fa71b866e",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "2eeb3343c322a411",
        "type": "ui-page",
        "name": "Accueil",
        "ui": "b59efa9e8f72d15f",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "58e58d4fa71b866e",
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": "false"
    },
    {
        "id": "547688a99e375b86",
        "type": "ui-group",
        "name": "TEst",
        "page": "2eeb3343c322a411",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e6a0e1b12ca31e61",
        "type": "ui-page",
        "name": "Garage",
        "ui": "b59efa9e8f72d15f",
        "path": "/page2",
        "icon": "garage",
        "layout": "grid",
        "theme": "58e58d4fa71b866e",
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3dd7d881c3faec6d",
        "type": "ui-page",
        "name": "NIPTO",
        "ui": "b59efa9e8f72d15f",
        "path": "/page3",
        "icon": "vacuum",
        "layout": "grid",
        "theme": "58e58d4fa71b866e",
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e62785c5482a6a77",
        "type": "ui-page",
        "name": "Zigbee",
        "ui": "b59efa9e8f72d15f",
        "path": "/page4",
        "icon": "zigbee",
        "layout": "grid",
        "theme": "58e58d4fa71b866e",
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "da9cf49dfda27873",
        "type": "ui-group",
        "name": "My Group",
        "page": "e6a0e1b12ca31e61",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0a20da69df34fa5a",
        "type": "ui-page",
        "name": "VMC",
        "ui": "b59efa9e8f72d15f",
        "path": "/page5",
        "icon": "fan",
        "layout": "grid",
        "theme": "58e58d4fa71b866e",
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": "false"
    },
    {
        "id": "e8bf7ab13ad9d896",
        "type": "ui-group",
        "name": "Commander la ventilation",
        "page": "0a20da69df34fa5a",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "abe219b4d55df21f",
        "type": "ui-group",
        "name": "Etat de la ventilation",
        "page": "0a20da69df34fa5a",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "694ce0e1.4bee58",
        "type": "function",
        "z": "7cc13ada.b6712c",
        "name": "is in range?",
        "func": "const schedule = flow.get(\"schedule\");\nlet start = env.get(\"start\");\nlet stop = env.get(\"stop\");\nlet days = env.get(\"days\");\nif(schedule !== undefined){\n    start = schedule.start;\n    stop = schedule.stop;\n    days = schedule.days;\n}\nconst time = new Date();\nlet day = time.getDay();\nif(day === 0) day = 7;\nlet hour = String(time.getHours());\nlet minute = String(time.getMinutes());\nif(hour.length == 1) hour = \"0\" + hour;\nif(minute.length == 1) minute = \"0\" + minute;\nconst hmtime = hour + \":\" + minute;\nif(days.includes(day)){\n    if(start == stop){\n        return [msg, null];\n    } else if(start > stop){\n        if(hmtime >= start || hmtime < stop){\n            return [msg, null];\n        } else {\n            return [null, msg];\n        }\n    } else if(hmtime >= start && hmtime < stop){\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n} else {\n    return null;\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 100,
        "wires": [
            [
                "05c6e82c22096149"
            ],
            [
                "05c6e82c22096149"
            ]
        ]
    },
    {
        "id": "94dc9c00.0f576",
        "type": "inject",
        "z": "7cc13ada.b6712c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "1bc56c04.ca0a3c"
            ]
        ]
    },
    {
        "id": "1bc56c04.ca0a3c",
        "type": "function",
        "z": "7cc13ada.b6712c",
        "name": "display rule",
        "func": "const schedule = flow.get(\"schedule\");\nif(typeof schedule == \"object\"){\n    const start = schedule.start;\n    const stop = schedule.stop;\n    const days = String(schedule.days).replace(/1/g,\"Mo\").replace(/2/g,\"Tu\").replace(/3/g,\"We\").replace(/4/g,\"Th\").replace(/5/g,\"Fr\").replace(/6/g,\"Sa\").replace(/7/g,\"Su\");\n    msg.payload = \"override: \" + start + \"-\" + stop + \"/\" + days;\n} else {\n    const start = env.get(\"start\");\n    const stop = env.get(\"stop\");\n    const days = String(env.get(\"days\")).replace(/1/g,\"Mo\").replace(/2/g,\"Tu\").replace(/3/g,\"We\").replace(/4/g,\"Th\").replace(/5/g,\"Fr\").replace(/6/g,\"Sa\").replace(/7/g,\"Su\");\n    const override = false;\n    msg.payload = start + \"-\" + stop + \"/\" + days;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "da7f7d3f.da5af",
        "type": "function",
        "z": "7cc13ada.b6712c",
        "name": "check for override",
        "func": "if(msg.topic == \"override\"){\n    flow.set(\"schedule\",msg.payload);\n    return [null, msg];\n} else if (msg.payload == \"reset\"){\n    let reset;\n    flow.set(\"schedule\",reset);\n    return [null, msg];\n} else {\n    return [msg, null];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 100,
        "wires": [
            [
                "694ce0e1.4bee58"
            ],
            [
                "1bc56c04.ca0a3c"
            ]
        ]
    },
    {
        "id": "05c6e82c22096149",
        "type": "debug",
        "z": "7cc13ada.b6712c",
        "name": "TimeRange",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "a4c57c169d5aacf3",
        "type": "zigbee2mqtt-bridge",
        "z": "8a78fc9bf03685af",
        "g": "010dbb615bda4d4e",
        "name": "",
        "server": "18c1bbfb6a2451d9",
        "topic": null,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "558f9b7183aac2bc"
            ]
        ]
    },
    {
        "id": "476a22d8152cdc57",
        "type": "zigbee2mqtt-in",
        "z": "8a78fc9bf03685af",
        "g": "5f2614821fc98646",
        "name": "",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Inter_Parents (E1743)",
        "device_id": "0x84b4dbfffefe8703",
        "state": "action",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "2f6110e39eb4ed78"
            ]
        ]
    },
    {
        "id": "2f6110e39eb4ed78",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "5f2614821fc98646",
        "name": "",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "0x00124b0024c0026c (ZBMINI-L)",
        "device_id": "0x00124b0024c0026c",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "88825c69e6b4406d",
        "type": "zigbee2mqtt-in",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Detecteur Escalier A (SNZB-03)",
        "device_id": "0x00124b002511d318",
        "state": "0",
        "outputAtStartup": false,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "5a300b5c8797c7d0"
            ]
        ]
    },
    {
        "id": "af162e119d899f79",
        "type": "delay",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 460,
        "wires": [
            [
                "6a1892cf4bad0282",
                "435674ee8c87c7ab",
                "93b147a291c3d018",
                "66425afb1daa7ceb"
            ]
        ]
    },
    {
        "id": "5a300b5c8797c7d0",
        "type": "switch",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "Si Présence",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "37b283ee0e20393e"
            ],
            []
        ]
    },
    {
        "id": "967fa7eb7d450c61",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "89dc8d7d73b0afd3",
        "name": "Allumage",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Eclairage poubelles (LED1836G9)",
        "device_id": "0x842e14fffe4d96de",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "ON",
        "payloadType": "str",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 720,
        "y": 720,
        "wires": []
    },
    {
        "id": "558f9b7183aac2bc",
        "type": "debug",
        "z": "8a78fc9bf03685af",
        "g": "010dbb615bda4d4e",
        "name": "ZigbeeBridge",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "a122a79d4494810f",
        "type": "zigbee2mqtt-in",
        "z": "8a78fc9bf03685af",
        "g": "ab3eeb9e267c29b8",
        "name": "",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Inter aeration Suzanne (E1743)",
        "device_id": "0xec1bbdfffe991a72",
        "state": "action",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 190,
        "y": 900,
        "wires": [
            [
                "737c6e426a364559"
            ]
        ]
    },
    {
        "id": "5dac8e61d99847a3",
        "type": "delay",
        "z": "8a78fc9bf03685af",
        "g": "ab3eeb9e267c29b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 1000,
        "wires": [
            [
                "2b7284cce37ba6de"
            ]
        ]
    },
    {
        "id": "2b7284cce37ba6de",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "ab3eeb9e267c29b8",
        "name": "Extraction OFF",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Extraction d’air chambre Suzanne (E1603/E1702/E1708)",
        "device_id": "0x14b457fffec4f7cc",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "off",
        "payloadType": "str",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 760,
        "y": 900,
        "wires": []
    },
    {
        "id": "737c6e426a364559",
        "type": "switch",
        "z": "8a78fc9bf03685af",
        "g": "ab3eeb9e267c29b8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 940,
        "wires": [
            [
                "2b7284cce37ba6de"
            ],
            [
                "e90ffae1f31572e6",
                "5dac8e61d99847a3"
            ]
        ]
    },
    {
        "id": "e90ffae1f31572e6",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "ab3eeb9e267c29b8",
        "name": "Extraction ON",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Extraction d’air chambre Suzanne (E1603/E1702/E1708)",
        "device_id": "0x14b457fffec4f7cc",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "on",
        "payloadType": "str",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 560,
        "y": 960,
        "wires": []
    },
    {
        "id": "b0470f9c71dffca1",
        "type": "inject",
        "z": "8a78fc9bf03685af",
        "g": "ab3eeb9e267c29b8",
        "name": "Matin Semaine",
        "props": [],
        "repeat": "",
        "crontab": "00 08 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "98d5b6f6b6c06c65",
                "011462622c106d5f"
            ]
        ]
    },
    {
        "id": "b1e7d727faf9950e",
        "type": "inject",
        "z": "8a78fc9bf03685af",
        "g": "ab3eeb9e267c29b8",
        "name": "Matin Week-End",
        "props": [],
        "repeat": "",
        "crontab": "30 09 * * 6,0",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "98d5b6f6b6c06c65",
                "011462622c106d5f"
            ]
        ]
    },
    {
        "id": "011462622c106d5f",
        "type": "delay",
        "z": "8a78fc9bf03685af",
        "g": "ab3eeb9e267c29b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 1100,
        "wires": [
            [
                "2b7284cce37ba6de"
            ]
        ]
    },
    {
        "id": "98d5b6f6b6c06c65",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "ab3eeb9e267c29b8",
        "name": "Extraction ON",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Extraction d’air chambre Suzanne (E1603/E1702/E1708)",
        "device_id": "0x14b457fffec4f7cc",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "on",
        "payloadType": "str",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 560,
        "y": 1060,
        "wires": []
    },
    {
        "id": "cb3c6bbbf342522c",
        "type": "inject",
        "z": "8a78fc9bf03685af",
        "g": "ab3eeb9e267c29b8",
        "name": "Midi",
        "props": [],
        "repeat": "",
        "crontab": "55 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "98d5b6f6b6c06c65",
                "011462622c106d5f"
            ]
        ]
    },
    {
        "id": "144c1d82ed799493",
        "type": "inject",
        "z": "8a78fc9bf03685af",
        "g": "ab3eeb9e267c29b8",
        "name": "Soir",
        "props": [],
        "repeat": "",
        "crontab": "55 19 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "98d5b6f6b6c06c65",
                "011462622c106d5f"
            ]
        ]
    },
    {
        "id": "2693e72fb25c1949",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "89dc8d7d73b0afd3",
        "name": "Extinction",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Eclairage poubelles (LED1836G9)",
        "device_id": "0x842e14fffe4d96de",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "OFF",
        "payloadType": "str",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 720,
        "y": 780,
        "wires": []
    },
    {
        "id": "65501524b171f0fb",
        "type": "switch",
        "z": "8a78fc9bf03685af",
        "g": "89dc8d7d73b0afd3",
        "name": "Si Présence",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 740,
        "wires": [
            [
                "967fa7eb7d450c61",
                "32bf6e879c1b2732"
            ],
            [
                "2693e72fb25c1949"
            ]
        ]
    },
    {
        "id": "32bf6e879c1b2732",
        "type": "delay",
        "z": "8a78fc9bf03685af",
        "g": "89dc8d7d73b0afd3",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 680,
        "wires": [
            [
                "2693e72fb25c1949"
            ]
        ]
    },
    {
        "id": "37b283ee0e20393e",
        "type": "subflow:7cc13ada.b6712c",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "Tard?",
        "env": [
            {
                "name": "start",
                "value": "21:00",
                "type": "str"
            },
            {
                "name": "stop",
                "value": "23:59",
                "type": "str"
            }
        ],
        "x": 710,
        "y": 320,
        "wires": [
            [
                "af162e119d899f79",
                "295508e9a9ce09a4",
                "6a1892cf4bad0282",
                "435674ee8c87c7ab",
                "66425afb1daa7ceb"
            ],
            [
                "3f38713c68d50bb2"
            ]
        ]
    },
    {
        "id": "57c87b30ea80eb7d",
        "type": "zigbee2mqtt-in",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Detecteur Escalier B (SNZB-03)",
        "device_id": "0x00124b002511d638",
        "state": "0",
        "outputAtStartup": false,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 190,
        "y": 400,
        "wires": [
            [
                "5a300b5c8797c7d0"
            ]
        ]
    },
    {
        "id": "295508e9a9ce09a4",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "Bas Escalier ON",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Escalier lampe Bas (LED1836G9)",
        "device_id": "0x842e14fffe88a3a9",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "on",
        "payloadType": "z2m_payload",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 980,
        "y": 300,
        "wires": []
    },
    {
        "id": "a85b5f67307b8161",
        "type": "inject",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "Test_Detecteur",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"battery\":100,\"battery_low\":false,\"linkquality\":132,\"occupancy\":true,\"tamper\":false,\"voltage\":3100}",
        "payloadType": "json",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "5a300b5c8797c7d0"
            ]
        ]
    },
    {
        "id": "6a1892cf4bad0282",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "Escalier Lampe Haut",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Escalier lampe Haut (LED1732G11)",
        "device_id": "0x588e81fffead2185",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "off",
        "payloadType": "z2m_payload",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 1000,
        "y": 460,
        "wires": []
    },
    {
        "id": "93b147a291c3d018",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "Escalier Lampe Bas",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Escalier lampe Bas (LED1836G9)",
        "device_id": "0x842e14fffe88a3a9",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "off",
        "payloadType": "z2m_payload",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 1000,
        "y": 500,
        "wires": []
    },
    {
        "id": "435674ee8c87c7ab",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "Escalier Louise",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Eclairage Palier vers CHB Louise (LED1836G9)",
        "device_id": "0x842e14fffe4db8ce",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "off",
        "payloadType": "z2m_payload",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 1200,
        "y": 460,
        "wires": []
    },
    {
        "id": "66425afb1daa7ceb",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "Escalier SDB",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Eclairage Palier 1ier vers SDB (LED1836G9)",
        "device_id": "0x842e14fffea22f9e",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "off",
        "payloadType": "z2m_payload",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 1190,
        "y": 500,
        "wires": []
    },
    {
        "id": "64948b6192e1a842",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "Escalier Lampe Bas",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Escalier lampe Bas (LED1836G9)",
        "device_id": "0x842e14fffe88a3a9",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "on",
        "payloadType": "z2m_payload",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 1000,
        "y": 400,
        "wires": []
    },
    {
        "id": "dd708280f510e18d",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "Escalier SDB",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Eclairage Palier 1ier vers SDB (LED1836G9)",
        "device_id": "0x842e14fffea22f9e",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "on",
        "payloadType": "z2m_payload",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 1190,
        "y": 400,
        "wires": []
    },
    {
        "id": "b2402425e85a3343",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "Escalier Louise",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Eclairage Palier vers CHB Louise (LED1836G9)",
        "device_id": "0x842e14fffe4db8ce",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "on",
        "payloadType": "z2m_payload",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 1200,
        "y": 360,
        "wires": []
    },
    {
        "id": "3e3e85f5c73f6e26",
        "type": "zigbee2mqtt-out",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "Escalier Lampe Haut",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Escalier lampe Haut (LED1732G11)",
        "device_id": "0x588e81fffead2185",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "on",
        "payloadType": "z2m_payload",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "3f38713c68d50bb2",
        "type": "subflow:7cc13ada.b6712c",
        "z": "8a78fc9bf03685af",
        "g": "88283a1bd84fdbce",
        "name": "Tot?",
        "env": [
            {
                "name": "stop",
                "value": "08:00",
                "type": "str"
            }
        ],
        "x": 710,
        "y": 380,
        "wires": [
            [
                "af162e119d899f79",
                "295508e9a9ce09a4"
            ],
            [
                "af162e119d899f79",
                "3e3e85f5c73f6e26",
                "b2402425e85a3343",
                "64948b6192e1a842",
                "dd708280f510e18d"
            ]
        ]
    },
    {
        "id": "66a58e98ab6037f0",
        "type": "zigbee2mqtt-in",
        "z": "8a78fc9bf03685af",
        "g": "789a50f3d570c165",
        "name": "",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Détecteur Poubelles (SNZB-03)",
        "device_id": "0x00124b002a6cf6fa",
        "state": "0",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 190,
        "y": 600,
        "wires": [
            [
                "65501524b171f0fb"
            ]
        ]
    },
    {
        "id": "ffb8606e191cb99a",
        "type": "zigbee2mqtt-in",
        "z": "8a78fc9bf03685af",
        "g": "0ba7747e986083a3",
        "name": "",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Porte de garage (SNZB-04)",
        "device_id": "0x00124b0022ed194d",
        "state": "contact",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 180,
        "y": 1300,
        "wires": [
            [
                "826f7d5e1fc85642"
            ]
        ]
    },
    {
        "id": "bedf15845d296d13",
        "type": "delay",
        "z": "8a78fc9bf03685af",
        "g": "0ba7747e986083a3",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 1360,
        "wires": [
            [
                "1a0f490f1de11989",
                "0115839daf416040"
            ]
        ]
    },
    {
        "id": "826f7d5e1fc85642",
        "type": "switch",
        "z": "8a78fc9bf03685af",
        "g": "0ba7747e986083a3",
        "name": "Ouverte?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 1300,
        "wires": [
            [
                "7de5ae9a9d52000f"
            ],
            [
                "bedf15845d296d13"
            ]
        ],
        "outputLabels": [
            "Non",
            "Oui"
        ]
    },
    {
        "id": "7de5ae9a9d52000f",
        "type": "change",
        "z": "8a78fc9bf03685af",
        "g": "0ba7747e986083a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "True",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1260,
        "wires": [
            [
                "bedf15845d296d13"
            ]
        ]
    },
    {
        "id": "209090ef89acf2dc",
        "type": "inject",
        "z": "8a78fc9bf03685af",
        "g": "0ba7747e986083a3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 630,
        "y": 1420,
        "wires": [
            [
                "1a0f490f1de11989",
                "0115839daf416040"
            ]
        ]
    },
    {
        "id": "d5a40fae7544f80f",
        "type": "zigbee2mqtt-get",
        "z": "8a78fc9bf03685af",
        "g": "0ba7747e986083a3",
        "name": "",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Porte de garage (SNZB-04)",
        "device_id": "0x00124b0022ed194d",
        "state": "contact",
        "enableMultiple": false,
        "x": 260,
        "y": 1360,
        "wires": [
            [
                "826f7d5e1fc85642"
            ]
        ]
    },
    {
        "id": "1a0f490f1de11989",
        "type": "sendsms",
        "z": "8a78fc9bf03685af",
        "g": "0ba7747e986083a3",
        "creds": "439c3a08b11e4e0a",
        "to": "33 7 52 08 46 38",
        "fr": "Automate de la maison",
        "text": "Porte de garage ouverte depuis longtemps.",
        "unicode": false,
        "x": 790,
        "y": 1360,
        "wires": [
            [
                "d5a40fae7544f80f"
            ]
        ]
    },
    {
        "id": "0115839daf416040",
        "type": "sendsms",
        "z": "8a78fc9bf03685af",
        "g": "0ba7747e986083a3",
        "creds": "439c3a08b11e4e0a",
        "to": "33 6 70 18 28 80",
        "fr": "Automate de la maison",
        "text": "Porte de garage ouverte depuis longtemps.",
        "unicode": false,
        "x": 790,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "6b83445f.95ef74",
        "type": "http request",
        "z": "f4db60bf.7cb8c",
        "g": "e102e7aa.73033",
        "name": "Recupe status.xml de l'IPX",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://192.168.0.214/status.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "6a44f6d2.63742"
            ]
        ]
    },
    {
        "id": "60345379.7335cc",
        "type": "inject",
        "z": "f4db60bf.7cb8c",
        "g": "e102e7aa.73033",
        "name": "VERIF IPX800",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "14400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "6b83445f.95ef74"
            ]
        ]
    },
    {
        "id": "93a6bc32.964338",
        "type": "debug",
        "z": "f4db60bf.7cb8c",
        "g": "e102e7aa.73033",
        "name": "Date OK, pas d'action",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 180,
        "wires": []
    },
    {
        "id": "6a44f6d2.63742",
        "type": "xml",
        "z": "f4db60bf.7cb8c",
        "g": "e102e7aa.73033",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "61b330c0.943d4"
            ]
        ]
    },
    {
        "id": "61b330c0.943d4",
        "type": "function",
        "z": "f4db60bf.7cb8c",
        "g": "e102e7aa.73033",
        "name": "Date OK?",
        "func": "var d = new Date();\nif (msg.payload.response.day[0].includes(d.getFullYear().toString()))\n{\n   return [ msg, null ];\n} else {\n    msg.topic = \"ALERTE IOT : IPX800\"\n    msg.payload = \"Redémarrage de l'IPX800 demandé.\"\n   return [ null, msg ];\n}\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "93a6bc32.964338"
            ],
            [
                "32fe9461.a31a9c"
            ]
        ]
    },
    {
        "id": "32fe9461.a31a9c",
        "type": "http request",
        "z": "f4db60bf.7cb8c",
        "g": "e102e7aa.73033",
        "name": "Redémarrage de l'IPX800",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.214/protect/settings/reboot.htm?IPX800_V3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 220,
        "wires": [
            [
                "688d8710.dd2ff8",
                "c5d80b6f1efa0795"
            ]
        ]
    },
    {
        "id": "688d8710.dd2ff8",
        "type": "debug",
        "z": "f4db60bf.7cb8c",
        "g": "e102e7aa.73033",
        "name": "Résultat redémarrage",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "3443a94b.1d3d2e",
        "type": "comment",
        "z": "f4db60bf.7cb8c",
        "g": "e102e7aa.73033",
        "name": "Fonctionnement",
        "info": "Régulièrement l'IPX se dé-synchronise du serveur de temps.\nEn conséquence les tâches planifiées ne s'effectuent plus. Seul un redémarrage de l'IPX peut corriger le problème.\n\nLe flow se connecte à l'IPX et récupère le fichier status.xml contenant tous les états/compteurs de l'IPX ainsi que la valeur de son horloge. En fonction de cette valeur, il lance ou pas un redémarrage en se connectant à la page http://192.168.1.139/protect/settings/reboot.htm?IPX800_V3\nIl vérifie que l'année de la date renvoyée par le fichier xml est bien celle de l'année en cours ce qui montre que l'IPX800 est bien synchronisée.",
        "x": 160,
        "y": 260,
        "wires": []
    },
    {
        "id": "62f42068.824698",
        "type": "catch",
        "z": "f4db60bf.7cb8c",
        "g": "e102e7aa.73033",
        "name": "En cas d'impossibilité de se connecter à l'IPX ou d'obtenir le fichier XML",
        "scope": [
            "6b83445f.95ef74"
        ],
        "uncaught": false,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "efce1de91fa4997e",
                "17e782a82a4b9951"
            ]
        ]
    },
    {
        "id": "efce1de91fa4997e",
        "type": "debug",
        "z": "f4db60bf.7cb8c",
        "g": "e102e7aa.73033",
        "name": "Message d'erreur lecture IPX.xml",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "17e782a82a4b9951",
        "type": "email-send",
        "z": "f4db60bf.7cb8c",
        "g": "e102e7aa.73033",
        "transport": "0ca1a15e29858943",
        "from": "iot@clairealex.fr",
        "to": "alexandre.moulart@clairealex.fr",
        "cc": "alexandre.moulart@se.com",
        "bcc": "",
        "subject": "ATTENTION Lecture données IPX impossible",
        "contentType": "text",
        "name": "Info Lecture données IPX impossible",
        "x": 770,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c5d80b6f1efa0795",
        "type": "email-send",
        "z": "f4db60bf.7cb8c",
        "g": "e102e7aa.73033",
        "transport": "0ca1a15e29858943",
        "from": "iot@clairealex.fr",
        "to": "alexandre.moulart@clairealex.fr",
        "cc": "alexandre.moulart@se.com",
        "bcc": "",
        "subject": "INFO Redémarrage de l'IPX800 ",
        "contentType": "text",
        "name": "INFO Redémarrage de l'IPX800 ",
        "x": 970,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d2078e7f42f83fab",
        "type": "http request",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "Recupe status.xml de l'IPX",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://192.168.0.214/status.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 440,
        "y": 480,
        "wires": [
            [
                "50394144fc93b9f8"
            ]
        ]
    },
    {
        "id": "f092e4a5d029bf7b",
        "type": "inject",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "VERIF IPX800",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "d2078e7f42f83fab"
            ]
        ]
    },
    {
        "id": "50394144fc93b9f8",
        "type": "xml",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 670,
        "y": 480,
        "wires": [
            [
                "f397b3f6b00f7f22"
            ]
        ]
    },
    {
        "id": "f397b3f6b00f7f22",
        "type": "switch",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "VMC à l'arrêt?",
        "property": "payload.response.btn2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "dn",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "1e50c7ad7ff0d555"
            ],
            [
                "df143cacff2c7957"
            ]
        ]
    },
    {
        "id": "6afd16dff8838a28",
        "type": "ui-slider",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "group": "abe219b4d55df21f",
        "name": "Vitesse de la ventilation",
        "label": "Vitesse ",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": true,
        "min": 0,
        "max": "2",
        "step": 1,
        "className": "",
        "x": 890,
        "y": 560,
        "wires": [
            [
                "2bbfe52978827116"
            ]
        ]
    },
    {
        "id": "1e50c7ad7ff0d555",
        "type": "change",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "Slider à zéro",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "6afd16dff8838a28"
            ]
        ]
    },
    {
        "id": "df143cacff2c7957",
        "type": "switch",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "VMC à vitesse lente",
        "property": "payload.response.btn0",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dn",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 620,
        "wires": [
            [
                "8604f49a62d71f9e"
            ],
            [
                "ebe9de659eb140f6"
            ]
        ]
    },
    {
        "id": "8604f49a62d71f9e",
        "type": "change",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "Slider à un",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 600,
        "wires": [
            [
                "6afd16dff8838a28"
            ]
        ]
    },
    {
        "id": "ebe9de659eb140f6",
        "type": "change",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "Slider à deux",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 640,
        "wires": [
            [
                "6afd16dff8838a28"
            ]
        ]
    },
    {
        "id": "2bbfe52978827116",
        "type": "switch",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 680,
        "y": 740,
        "wires": [
            [
                "ca51220c7773961b"
            ],
            [
                "023f313706e7a9fa"
            ],
            [
                "2b4726a6dc8fcca0"
            ]
        ]
    },
    {
        "id": "ca51220c7773961b",
        "type": "change",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "VMC à l'arrêt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set031 Set010 Set040",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 660,
        "wires": [
            [
                "da008f54901cc831"
            ]
        ]
    },
    {
        "id": "023f313706e7a9fa",
        "type": "change",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "VMC en fonction",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set030",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 720,
        "wires": [
            [
                "9d4f0fbfb10d04eb"
            ]
        ]
    },
    {
        "id": "bb1454896d323f87",
        "type": "change",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "Insuf Lente",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set010",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 760,
        "wires": [
            [
                "6c87992a08a06a2b"
            ]
        ]
    },
    {
        "id": "ce5f1220964693af",
        "type": "change",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "Extraction lente",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set040",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 800,
        "wires": [
            [
                "b6c0fe1f96500599"
            ]
        ]
    },
    {
        "id": "2b4726a6dc8fcca0",
        "type": "change",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "VMC en fonction",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set030",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 860,
        "wires": [
            [
                "519ba4bd573e4d7f"
            ]
        ]
    },
    {
        "id": "25af6e728ace967b",
        "type": "change",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "Insuf Rapide",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set011",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 900,
        "wires": [
            [
                "86e002b53ef1ea4e"
            ]
        ]
    },
    {
        "id": "157a01391cd115ec",
        "type": "change",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "Extraction rapide",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Set041",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 940,
        "wires": [
            [
                "eaac69e4ea61fa96"
            ]
        ]
    },
    {
        "id": "9d4f0fbfb10d04eb",
        "type": "tcp request",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "",
        "server": "192.168.0.214",
        "port": "9870",
        "out": "time",
        "ret": "string",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 1250,
        "y": 720,
        "wires": [
            [
                "bb1454896d323f87"
            ]
        ]
    },
    {
        "id": "6c87992a08a06a2b",
        "type": "tcp request",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "",
        "server": "192.168.0.214",
        "port": "9870",
        "out": "time",
        "ret": "string",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 1250,
        "y": 760,
        "wires": [
            [
                "ce5f1220964693af"
            ]
        ]
    },
    {
        "id": "b6c0fe1f96500599",
        "type": "tcp request",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "",
        "server": "192.168.0.214",
        "port": "9870",
        "out": "time",
        "ret": "string",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 1250,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "da008f54901cc831",
        "type": "tcp request",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "",
        "server": "192.168.0.214",
        "port": "9870",
        "out": "time",
        "ret": "string",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 1250,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "519ba4bd573e4d7f",
        "type": "tcp request",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "",
        "server": "192.168.0.214",
        "port": "9870",
        "out": "time",
        "ret": "string",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 1250,
        "y": 860,
        "wires": [
            [
                "25af6e728ace967b"
            ]
        ]
    },
    {
        "id": "86e002b53ef1ea4e",
        "type": "tcp request",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "",
        "server": "192.168.0.214",
        "port": "9870",
        "out": "time",
        "ret": "string",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 1250,
        "y": 900,
        "wires": [
            [
                "157a01391cd115ec"
            ]
        ]
    },
    {
        "id": "eaac69e4ea61fa96",
        "type": "tcp request",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "",
        "server": "192.168.0.214",
        "port": "9870",
        "out": "time",
        "ret": "string",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 1250,
        "y": 940,
        "wires": [
            [
                "225715f1fb62950d"
            ]
        ]
    },
    {
        "id": "225715f1fb62950d",
        "type": "delay",
        "z": "f4db60bf.7cb8c",
        "g": "fc4d7b3fdd8d7679",
        "name": "Passe la VMC en mode lent automatiquement après 30 minutes",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1090,
        "y": 1000,
        "wires": [
            [
                "023f313706e7a9fa"
            ]
        ]
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "6e3ae73fd6dca1b5",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "99b24abfc303375b"
            ]
        ]
    },
    {
        "id": "ce99561c603a7eb8",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Utiliser : https://medium.com/@ioTnT/writing-data-from-node-red-to-csv-or-excel-without-extra-palettes-472655d490b6",
        "info": "",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "33e459f5b49c6a18",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "Génère MBps pour Mailing",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string($round(payload.download.bandwidth*8/1000000,0)) & ' MBps. KO! Nouvelle mesure dans une minute.'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 500,
        "wires": [
            [
                "a56be7fea2f10b19"
            ]
        ]
    },
    {
        "id": "2811ceaac726f243",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "Si <45Mb/s",
        "property": "payload.download.bandwidth*8/1000000",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "lt",
                "v": "45",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 460,
        "wires": [
            [
                "33e459f5b49c6a18"
            ]
        ]
    },
    {
        "id": "fa8980c41453d441",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "Ecrit vers le fichier log",
        "filename": "/home/pi/Node-Red/Speedtest.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 760,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "8b89075617fd1890",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "Paramètre les données dans le log",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(payload.timestamp & ',' & $round(payload.download.bandwidth*8/1000000,0)) & ' MBps'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 540,
        "wires": [
            [
                "fa8980c41453d441",
                "b0fe8155417905e8"
            ]
        ]
    },
    {
        "id": "b0fe8155417905e8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "Speedtest Log",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "99b24abfc303375b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "Counter",
        "func": "// Define Variable and get stored flow value\n// if there is no stored value, then the value is 0\nvar counter = flow.get(\"counter\") || 0\n\n// Check the msg.topic property\n// If the topic is equal to reset then set the counter to 0\n// else add 1 to the counter value\nif (msg.topic == \"reset\") {\n    counter = 0\n    msg.topic = \"\"\n} else {\n    counter ++\n}\n\n// save the counter value in the flow variable\nflow.set(\"counter\", counter)\n\n// set msg.payload to counter value\nmsg.payload = counter\n\n// return msg Object\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 360,
        "wires": [
            [
                "acf7a47b6f6e79f6",
                "485a7a75bd474437"
            ]
        ]
    },
    {
        "id": "acf7a47b6f6e79f6",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "Compteur supérieur à 3?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "e1d7c466b429a061",
                "2d8b2236898a1199",
                "9dade99a33b4458d"
            ],
            [
                "297032eb92ecd6c7"
            ]
        ]
    },
    {
        "id": "e1d7c466b429a061",
        "type": "zigbee2mqtt-out",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "OFF Alim BOX",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Alim box internet (E1603/E1702/E1708)",
        "device_id": "0x0c4314fffe1352d8",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "off",
        "payloadType": "str",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "2d8b2236898a1199",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "22ac9e4da1fe5ebc"
            ]
        ]
    },
    {
        "id": "22ac9e4da1fe5ebc",
        "type": "zigbee2mqtt-out",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "ON Alim BOX",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Alim box internet (E1603/E1702/E1708)",
        "device_id": "0x0c4314fffe1352d8",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "on",
        "payloadType": "str",
        "optionsValue": "",
        "optionsType": "nothing",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "892f85fd.ddf898",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "Récupération du fichier log",
        "func": "msg.topic = \"Fichier log de test de la connexion internet\"; // email subject\n\nmsg.payload = \"Voir fichier attaché\"; // email body\n\nmsg.email = {\n    attachments: [\n        {\n            // file on disk as an attachment\n            filename: \"Speedtest.log\",\n            path: \"/home/pi/Node-Red/Speedtest.log\" // stream this file\n        },],\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 640,
        "wires": [
            [
                "d821318e160c0e62"
            ]
        ]
    },
    {
        "id": "5fb69172.b3471",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "Envoi manuel du log",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 640,
        "wires": [
            [
                "892f85fd.ddf898"
            ]
        ]
    },
    {
        "id": "d821318e160c0e62",
        "type": "email-send",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "transport": "0ca1a15e29858943",
        "from": "iot@clairealex.fr",
        "to": "alexandre.moulart@clairealex.fr",
        "cc": "alexandre.moulart@se.com",
        "bcc": "",
        "subject": "Fichier LOG Test Connexions Internet NodeRed",
        "contentType": "text",
        "name": "Envoi Fichier log",
        "x": 660,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "33de0144ba188644",
        "type": "email-send",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "transport": "0ca1a15e29858943",
        "from": "iot@clairealex.fr",
        "to": "alexandre.moulart@clairealex.fr",
        "cc": "alexandre.moulart@se.com",
        "bcc": "",
        "subject": "Redémarrage de la connexion internet",
        "contentType": "text",
        "name": "Info reset de la connexion",
        "x": 910,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a56be7fea2f10b19",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 460,
        "wires": [
            [
                "99b24abfc303375b"
            ]
        ]
    },
    {
        "id": "485a7a75bd474437",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "debug counter",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "9dade99a33b4458d",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "2cc8d9f2b5261b88"
            ]
        ]
    },
    {
        "id": "2cc8d9f2b5261b88",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "Récupération du fichier log",
        "func": "msg.topic = \"Redémarrage de la BOX suite ralentissement\"; // email subject\n\nmsg.payload = \"Redémarrage de la BOX suite ralentissement\"; // email body\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 400,
        "wires": [
            [
                "33de0144ba188644"
            ]
        ]
    },
    {
        "id": "297032eb92ecd6c7",
        "type": "speedtest",
        "z": "f6f2187d.f17ca8",
        "g": "3e85591c6b28eec5",
        "name": "",
        "maxTime": 5000,
        "serverId": "",
        "acceptLicense": true,
        "acceptGdpr": true,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "2811ceaac726f243",
                "8b89075617fd1890"
            ]
        ]
    },
    {
        "id": "85b88d13fe142be6",
        "type": "ui-button",
        "z": "65ffe8411dc40a28",
        "group": "e8bf7ab13ad9d896",
        "name": "",
        "label": "Arrêter la VMC pendant 30 minutes",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fan-off",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "f9fcadf82e3051ae",
        "type": "comment",
        "z": "65ffe8411dc40a28",
        "name": "Accueil",
        "info": "ssss",
        "x": 110,
        "y": 280,
        "wires": []
    },
    {
        "id": "add8ba69c8f357ba",
        "type": "comment",
        "z": "65ffe8411dc40a28",
        "name": "Garage: ouvert/fermé, alarme si reste ouvert, Commande d'ouverture/fermeture, son si changement d'état",
        "info": "",
        "x": 420,
        "y": 560,
        "wires": []
    },
    {
        "id": "14dcafa4dff451ea",
        "type": "comment",
        "z": "65ffe8411dc40a28",
        "name": "Nipto: voir l'API",
        "info": "",
        "x": 140,
        "y": 920,
        "wires": []
    },
    {
        "id": "4b26406a5a018387",
        "type": "ui-switch",
        "z": "65ffe8411dc40a28",
        "name": "",
        "label": "switch",
        "group": "da9cf49dfda27873",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 550,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "5daa293f94fe685c",
        "type": "debug",
        "z": "65ffe8411dc40a28",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 680,
        "wires": []
    },
    {
        "id": "3a0b8d276be6e360",
        "type": "zigbee2mqtt-get",
        "z": "65ffe8411dc40a28",
        "name": "",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Porte de garage (SNZB-04)",
        "device_id": "0x00124b0022ed194d",
        "state": "contact",
        "enableMultiple": false,
        "x": 260,
        "y": 660,
        "wires": [
            [
                "4b26406a5a018387",
                "5daa293f94fe685c"
            ]
        ]
    },
    {
        "id": "44ea7a7253b84abb",
        "type": "zigbee2mqtt-in",
        "z": "65ffe8411dc40a28",
        "name": "",
        "server": "18c1bbfb6a2451d9",
        "friendly_name": "Porte de garage (SNZB-04)",
        "device_id": "0x00124b0022ed194d",
        "state": "contact",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 260,
        "y": 700,
        "wires": [
            [
                "4b26406a5a018387",
                "5daa293f94fe685c"
            ]
        ]
    },
    {
        "id": "b7d2eb4cf04c4e61",
        "type": "inject",
        "z": "65ffe8411dc40a28",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "3a0b8d276be6e360"
            ]
        ]
    },
    {
        "id": "100f962a17422cab",
        "type": "comment",
        "z": "65ffe8411dc40a28",
        "name": "ZIGBEE: état des points ZIGBEE et visaualisation s'il y en a des KO",
        "info": "",
        "x": 300,
        "y": 1040,
        "wires": []
    },
    {
        "id": "71d82697792263d9",
        "type": "comment",
        "z": "65ffe8411dc40a28",
        "name": "VMC état de fonctionnement et commande de vitesse. ",
        "info": "",
        "x": 260,
        "y": 980,
        "wires": []
    },
    {
        "id": "52fccf25d7ed8a5e",
        "type": "comment",
        "z": "65ffe8411dc40a28",
        "name": "EAU, électricité, gaz, température",
        "info": "",
        "x": 190,
        "y": 860,
        "wires": []
    },
    {
        "id": "368940171414d536",
        "type": "ui-button",
        "z": "65ffe8411dc40a28",
        "group": "e8bf7ab13ad9d896",
        "name": "",
        "label": "Passer la VMC en vitesse lente",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fan-minus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ebcda58083fdd4b0",
        "type": "ui-button",
        "z": "65ffe8411dc40a28",
        "group": "e8bf7ab13ad9d896",
        "name": "",
        "label": "Passer la VMC en vitesse rapide",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fan-plus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 440,
        "wires": [
            []
        ]
    }
]
